{% include 'app/partials/base.html' %}

<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.95)), url(https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
    <!-- Photo by Lynda B on Unsplash -->
    <div class="container">
        <h1>Health Passport - Pet Edition <i class="fas fa-paw" style="font-size: 30px; color: white"></i></h1>
        <p>You & your pet's digital health & vaccination tracker</p>
    </div>
</div>

<div class="container">
    <div class="cards-show">
        <div class="card">
            <h5 class="card-header"><strong>Health & Vaccination Tracker</strong></h5>
            <div class="card-body">
                <h5 class="card-text">Managing vaccination records has never been easier with Health Passport</h5>
                <br>
                <div class="feature-list">
                    <ul class="list-inline">
                        <li><i class="far fa-file fa-fw" id="icon"></i>Track Digital Vaccine Records</li>
                        <li><i class="far fa-bell fa-fw" id="icon"></i>Get Alerts & Reminders</li>
                        <li><i class="far fa-eye fa-fw" id="icon"></i>Manage Upcoming Vaccines</li>
                    </ul>
                </div>
                <h5 class="card-text">Follow 3 easy steps</h5>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <i class="fas fa-sign-in-alt fa-3x"></i>
                            <p><strong>1:</strong> Sign Up</p>
                        </div>
                        <div class="col-sm">
                            <i class="fas fa-paw fa-3x"></i>
                            <p><strong>2:</strong> Create Pet Profile</p>
                        </div>
                        <div class="col-sm">
                            <i class="fas fa-tasks fa-3x"></i>
                            <p><strong>3:</strong> Add Vaccines</p>
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#exampleModal">
                    Get Started for Free!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Getting Started</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if user.is_authenticated %}
                                <a class="btn btn-flat" href="{% url 'profile-add' %}">Create Pet Profile</a>
                                {% else %}
                                <a class="btn btn-flat" href="{% url 'signup'%}?next={{request.path}}">Signup</a>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <!--   <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            </div> -->
    <div class="footer-copyright">
        This site was made with <i class="fas fa-heart"></i> by Health Passport
        <!-- <div>Icons made by <a href="https://www.flaticon.local/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.local/" title="Flaticon">www.flaticon.local</a></div> -->
    </div>
</div>