{% include 'app/partials/base.html' %}

<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.95)), url(https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
    <!-- Photo by Lynda B on Unsplash -->
    <div class="container">
        <h1>Health Passport - Pet Edition <i class="fas fa-paw" style="font-size: 30px; color: white"></i></h1>
        <p>You & your pet's digital health & vaccination tracker</p>
    </div>
</div>

<div class="container">
    <div class="cards-show">
        <div class="card">
            <h5 class="card-header"><strong>Health & Vaccination Tracker</strong></h5>
            <div class="card-body">
                <h5 class="card-text">Managing vaccination records has never been easier with Health Passport</h5>
                <br>
                <div class="feature-list">
                    <ul class="list-inline">
                        <li><i class="far fa-file fa-fw" id="icon"></i>Manage Digital Vaccine Records</li>
                        <li><i class="far fa-eye fa-fw" id="icon"></i>Track Upcoming Vaccinations</li>
                        <li><i class="far fa-bell fa-fw" id="icon"></i>Get Alerts & Reminders</li>
                        <li><i class="far fa-calendar-check fa-fw" id="icon"></i>Check Vaccination Status</li>
                        <li><i class="fas fa-search fa-fw" id="icon"></i>Maintain Vaccine Repository</li>
                    </ul>
                </div>
                <h5 class="card-text">Helping to keep families healthy </h5>
                <i class="fas fa-users" style="font-size: 50px; padding-bottom: 75px;"></i>
                <i class="fas fa-hand-holding-medical" style="font-size: 100px;"></i>
                <i class="fas fa-paw" style="font-size: 50px; padding-bottom: 75px;"></i>

            </div>
        </div>

    </div>
</div>

<div class="footer">
    <!--   <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            </div> -->
    <div class="footer-copyright">
        This site was made with <i class="fas fa-heart"></i> by Health Passport
        <!-- <div>Icons made by <a href="https://www.flaticon.local/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.local/" title="Flaticon">www.flaticon.local</a></div> -->
    </div>
</div>